:root {
    /* Define color variables */
    --primary-color: #063970;
    --color-black: #000000;
    --secondary-color: #ACD0F1;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --Title-font:42px;
    --SecondaryTitle-font:22px;
    --Button-font:20px;
    --TextBox-font:20px;
    --HERO-BGCOLOR:#dc3545;
    --HERO-COLOR: #FFF;
    --BORDER-COLOR: #333;

}
  
html, body {
  height: 100%;
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-row{
  display:flex;
  flex-direction: row;
}

.hero__h2 {
  font-size: larger;
  background-color: var(--HERO-BGCOLOR);
  color: var(--HERO-COLOR);
  padding: 0.25em 0.5em;
  text-shadow: 2px 2px 5px var(--BORDER-COLOR);
  position: absolute;
  top: -100px;
  left: 200px;
  animation: showWelcome 0.5s ease-in-out 1s forwards;
}

@keyframes showWelcome {
  0% {
      top: -20px;
      transform: skew(0deg, -5deg) scaleY(0);
  }

  80% {
      top: 30px;
      transform: skew(10deg, -5deg) scaleY(1.2);
  }

  100% {
      top: 20px;
      transform: skew(-10deg, -5deg) scaleY(1);
  }
}
.pagetitle{
  font-size:50px;
  color: #dc3545;
  
  margin:10px 0px 0px 0px;

}


#login-box {
  display:flex;
  width: fit-content;
  border-radius: 15px;
  height: fit-content;
  margin: auto;
  flex-direction: column;
  background-color:var(--secondary-color);
  border: 3px solid var(--primary-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding:20px 40px 20px 40px;
}

#login-title {
  font-size:var(--Title-font);
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

#loginbuttondiv {
  text-align: center;
  padding:20px 0px 20px 0px;

}

#login-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 7px 15px 7px 15px;
  border: 3px solid var(--color-black);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--Button-font);
  border-radius: 10px;
  cursor: pointer;
}


/* color variables */
/* border radius */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form {
  position: relative;
  
  margin:10px 0px 10px 0px;
  padding:30px;
  width: 20rem;
  height: 3rem;
}
.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid var(--primary-color);
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--secondary-color);
  outline: none;
  padding: 1.25rem;

  /* Change border when input focus*/
}
.form__input:hover {
  border-color: var(--primary-color);
}
.form__input:focus {
  border-color: var(--primary-color);
}
.form__label {
  position: absolute;
  left: 1rem;
font-size:var(--SecondaryTitle-font);
  top: 0.8rem;

background-color: var(--secondary-color);
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;

}
/* 1. When the input is in the focus state reduce the size of the label and move upwards 2. Keep label state when content is in input field */
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -.8rem;
  font-size: 20px;
left:0px;
}

